
# Discord
DISCORD_PUBLIC_KEY=xxx
DISCORD_APPLICATION_ID=xxx
DISCORD_BOT_TOKEN=xxx
DISCORD_WEB_HOOK_URL=xxx

# 認証
ALLOWED_USERS=xxx
ADMIN_PASSWORD=xxx
WEB_API_SECRET=xxx

# Redis
REDIS_URL=xxx

# Google Sheets
GOOGLE_SERVICE_ACCOUNT_JSON=xxx
GOOGLE_SHEET_URL=xxx

# アプリURL
APP_URL=http://localhost:3000

# QStash
QSTASH_URL=xxx
QSTASH_TOKEN=xxx
QSTASH_CURRENT_SIGNING_KEY=xxx
QSTASH_NEXT_SIGNING_KEY=xxx

# Riot API（今回追加）
RIOT_API_KEY=xxx
RIOT_API_REVALIDATE_SECONDS=xxx